server:
  host: localhost
  port: 8004
spring:
  profiles:
    active: dev
  application:
    name: zkr
  devtools:
    restart:
      enabled: true
      additional-paths:
        - src/main/java
  datasource:
    url: jdbc:mysql://121.36.38.15:3306/zkr?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      max-active: 30
      initial-size: 15
      max-wait: 120000
      min-idle: 5
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      not-full-timeout-retry-count: 3
      validationQuery: SELECT 1 FROM DUAL
      #      testWhileIdle: true
      testOnBorrow: true
    cache:
      type: redis
  redis:
    database: 6
    host: 121.36.38.15
    port: 6379
    timeout: 5000s  # 连接超时时长（毫秒）
    jedis:
      pool:
        max-active: 8 #连接池最大连接数（使用负值表示没有限制）
        max-idle: 8  #连接池中的最大空闲连接
        max-wait: -1s #连接池最大阻塞等待时间（使用负值表示没有限制)
        min-idle: 0  #连接池中的最小空闲连接
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 20MB
mybatis-plus:
  # MyBaits ????????????????????????
  #  type-aliases-package: com.cloud.dao.entity.CloudUser
  # ????? typeAliasesPackage ?????????????????????????????????? ?
  type-aliases-super-type: java.lang.Object
  mapper-locations: classpath:mapper/*.xml
  configuration:
    database-id: mysql
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql

# Swagger界面内容配置
swagger:
  title: API接口文档
  description: Api Documentation
  version: 1.0.0
  termsOfServiceUrl: https://www.baidu.com/
  contact:
    name: test
    url: https://www.baidu.com/
    email: xxx@163.com

# 忽略鉴权url
ignored:
  urls:
    - /**/**
    - /ignore/**
    - /swagger-ui.html
    - /swagger-resources/**
    - /swagger/**
    - /**/v2/api-docs
    - /**/*.js
    - /**/*.css
    - /**/*.png
    - /**/*.ico

logging:
  config: classpath:logback-spring.xml
#logback存到本地的路径
logback:
  logFileDir: /lv/logs/
  logFile: api

file:
  upload:
    catalog: /data/upload/